<%- include('templates/header.ejs') %>
    <div class="titulo">
        <div class="tituloDerecha">
            <h1>Gestión de Usuarios</h1>
            <h2>Administrar Roles y permisos de los usuarios</h2>
        </div>
        <div class="tituloIzquierda">
            <button id="nuevoUsuario">+ Nuevo Usuario</button>
        </div>
    </div>
    <main class="main-content">
        <div class="users-grid" id="usersGrid">
        </div>
    </main>
    <%- include('templates/footer.ejs') %>