/*
BARRA DE BUSQUEDA Y FILTROS
*/

:root {
    /* Paleta de colores solicitada */
    --clr-admin: #00a185;
    /* Verde de la imagen */
    --clr-asesor: #9b59b6;
    /* Morado */
    --clr-asesorado: #f1c40f;
    /* Amarillo */
    --clr-bg: #f4f7f6;
    --clr-white: #ffffff;
    --clr-text: #7c7b7b;
    --input-color: rgb(199, 199, 198);
    --input-text-color: #333;
}

/* Barra superior verde */
.top-bar {
    background-color: #00a185;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.close-icon {
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% 4% 2% 4%;
}

.tituloDerecha {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.tituloDerecha button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0097b2;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.crearUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 25px;
    box-shadow: -11px 12px 0px rgba(233, 233, 233, 1);
    margin-bottom: 2%;
}

.crearUsuario .titulo,
.editarUsuario .titulo {
    padding: 2%;
}

#formCrearUsuario,
#formEditarUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tituloIzquierda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tituloIzquierda h2 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-text);
    margin-bottom: 20px;
}

#tituloCrearUsuario,
#tituloEditarUsuario {
    color: black;
}

#cancelar,
#cancelarEditar {
    background-color: var(--input-color);
    margin-right: 30px;
}

.nombre-correo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
}

.nombre-correo .nombre,
.nombre-correo .apellidos,
.nombre-correo .correo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
}

.nombre-correo .nombre input,
.nombre-correo .apellidos input,
.nombre-correo .correo input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    color: var(--input-text-color);
    font-size: 1rem;
    cursor: pointer;
}

.rol-carrera-cuatrimestre {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    padding-top: 0%;
}

.rol-carrera-cuatrimestre .rol,
.rol-carrera-cuatrimestre .carrera,
.rol-carrera-cuatrimestre .cuatrimestre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
}

.rol-carrera-cuatrimestre .rol select,
.rol-carrera-cuatrimestre .carrera select,
.rol-carrera-cuatrimestre .cuatrimestre select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    color: var(--input-text-color);
    font-size: 1rem;
    cursor: pointer;
}


/*
BARRA DE BUSQUEDA Y FILTROS
*/
.busqueda_filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0% 4% 2% 4%;
}

.busqueda,
.filtro {
    width: 45%;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    outline: none;
    color: #666;
    text-align: center;
}

.usuarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0% 4% 2% 4%;
}

.usuarioIzquierda,
.usuarioDerecha {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: -11px 12px 0px rgba(233, 233, 233, 1);
    color: #666;
}

.imagen-categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.contIMG {
    position: relative;
    display: inline-block;
}

.contIMG img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.asesor::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(102, 45, 145);
    /* rojo */
    mix-blend-mode: normal;
    /* Usar la imagen como máscara */
    -webkit-mask-image: url("../images/usuario.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    mask-image: url("../images/usuario.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

.asesorado::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(241, 196, 15);
    /* rojo */
    mix-blend-mode: normal;
    /* Usar la imagen como máscara */
    -webkit-mask-image: url("../images/usuario.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    mask-image: url("../images/usuario.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

.administrador::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0, 167, 136);
    /* rojo */
    mix-blend-mode: normal;
    /* Usar la imagen como máscara */
    -webkit-mask-image: url("../images/usuario.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    mask-image: url("../images/usuario.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

.categoria {
    background-color: blue;
    border-radius: 25px;
    text-align: center;
    padding: 0px 10px;
    color: white;
}

.Casesor {
    background-color: rgb(226, 169, 241);
}

.Casesorado {
    background-color: rgb(255, 216, 107);
}

.Cadministrador {
    background-color: rgb(145, 233, 218);
}

.usuarioInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0px;
    width: 60%;
}

.info {
    padding: 10px 0px 0px 0px;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(184, 184, 184);
}

.acciones {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 20%;
    height: stretch;
}

.btnEditar,
.btnEliminar {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: #0097b2;
    color: white;
    font-size: .75rem;
    font-weight: 600;
    cursor: pointer;
}

.btnEditar {
    background-color: transparent;
    color: gray;
    font-size: 1rem;
    padding: 0px;
}

.btnEliminar {
    background-color: #e74c3c;
}


.editarUsuario {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.editarUsuario .interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 25px;
    box-shadow: -11px 12px 0px rgba(233, 233, 233, 1);
    margin-bottom: 2%;
}



.ocultar {
    display: none;
}